.classIMG{
    width: 80%;
    height: 10rem;
    border-radius: 7px;
}
.classTitle{
    margin-top: .7rem;
}
.classDesc{
    color: black;
    border-style: groove;
    border-width: .2rem;
    border-color: black;
    border-radius: 8px;
    margin: 1rem 1rem;
}

@media only screen and (min-width:425px){
    .classIMG{
        height: 12rem;
    }
}

@media only screen and (min-width:768px){
    .classIMG{
        height: 20rem;
    }
    .classDesc{
        font-size: 20px;
    }
}

@media only screen and (min-width:1024px){
    .classIMG{
        height: 26rem;
    }
    .classDesc{
        font-size: 20px;
    }
}

@media only screen and (min-width:1440px){
    .classIMG{
        height: 30rem;
    }
    .classDesc{
        font-size: 25px;
    }
}