@media only screen and (min-width:320px){
    button{
        margin-left: 7.5rem;
    }
    .nav{
        margin-left: 4.5rem;
    }
    img#nav-logo{
        display: none;
    }
}
@media only screen and (min-width:375px){
    button{
        margin-left: 9.5rem;
    }
    .nav{
        margin-left: 6.3rem;
    }
    img#nav-logo{
        display: none;
    }
}
@media only screen and (min-width:425px){
    img#nav-logo{
        display: none;
    }
    button{
        margin-left: 10rem;
    }
    .nav{
        margin-left: 6.8rem;
    }
}
@media only screen and (min-width:768px) {
    
    .nav{
        margin-left: 17rem;
    }
}
@media only screen and (min-width:1024px){
    .nav{
        margin-left: 24rem;
    }
}